@media (min-width: 1400px) {
	.site-content {
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
	}
	.show-info {
		&_stander {
			left: 32%;
			top: 58vh;
		}
		&_sign {
			top: 40vh;
			left: 18%;
		}
		&_stella {
			top: 32vh;
			left: 8%;
		}
		&_banner {
			top: 25vh;
			left: 87%;
		}
		&_tablo {
		    left: 55%;
		    top: 31vh;
		}
		&_transport {
		    top: 58vh;
		    left: 70%;
		}
		/* Inside */
		&_plate {
			left: 16%;
			top: 15vh;
		}
		&_x-banner {
			left: 20%;
			top: 35vh;		
		}
		&_inside-stand {
			left: 52%;
		}
		&_signboard {
			left: 65%;
			top: 26vh;
		}
		&_inside-lightbox {
			top: 12vh;
		}
		/* Inside */
	}
	.modal {
		&__home {			
			&_lightbox {
			    background-position: 76% 125%;
			     .modal__home_body {
		    		top: 40vh;
	    		}
			}		
			&_tablo {
			    background-position: 54% 76%;
			     .modal__home_body {
		    		top: 40vh;
	    		}
			}
			&_banner {
				
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
	
}

@media only screen and (max-width: 736px) {
	
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}