@media (min-width: 1400px) {
	.site-content {
		-webkit-background-size: contain;
		     -o-background-size: contain;
		        background-size: contain;
	}
	.workspace {
		height: 730px;
	}
	.show-info {
		&_stander {
			left: 32%;
			top: 58vh;
		}
		&_sign {
			top: 40vh;
			left: 18%;
		}
		&_stella {
			top: 32vh;
			left: 8%;
		}
		&_banner {
			top: 25vh;
			left: 87%;
		}
		&_tablo {
		    left: 55%;
		    top: 31vh;
		}
		&_transport {
		    top: 58vh;
		    left: 70%;
		}
		/* Inside */
		&_plate {
			left: 16%;
			top: 15vh;
		}
		&_x-banner {
			left: 20%;
			top: 35vh;		
		}
		&_inside-stand {
			left: 52%;
		}
		&_signboard {
			left: 65%;
			top: 26vh;
		}
		&_inside-lightbox {
			top: 12vh;
		}
		/* Inside */
	}
	.modal {
		&__home {			
			&_lightbox {
			    background-position: 76% 123%;
			     .modal__home_body {
		    		top: 40vh;
	    		}
			}		
			&_tablo {
			    background-position: 54% 75%;
			     .modal__home_body {
		    		top: 40vh;
	    		}
			}
			&_letters {
				 -webkit-background-size: 350% 180%;
         			  -o-background-size: 350% 180%;
	                	 background-size: 350% 180%;
				background-position: 55% 105%;
			}
			&_banner {
				-webkit-background-size: 200% 190%;
         			  -o-background-size: 200% 215%;
	                	 background-size: 200% 215%;
				background-position: 38%  75%;
			}
			&_stella {
				background-position: -36% 55%;
		        -webkit-background-size: 80% 450%;
			     -o-background-size: 80% 450%;
			        background-size: 80% 450%;
			    .modal__home_body {
			    	top: 30vh;
			    	margin-left: 575px;
			    }
			}
			&_sign {
	            background-position: 124% 62%;
    			background-size: 120% 147%;
			    .modal__home_body {
			    	top: 30vh;
			    	margin-left: 575px;
			    }
			}
			&_flag {
		    	background-position: 66% 55%;
				.modal__home_body {
			    	top: 20vh;
			    	margin-left: 575px;
			    }
			}
			&_stander {
				background-position: 73% 29%;
				.modal__home_body {
			    	top: 20vh;
			    	margin-left: 575px;
			    }
			}
			&_transport {
				background-position: 48% 32%;
				background-size: 225% 186%;
				.modal__home_body {
			    	top: 20vh;
			    }
			}
			&_plate {
				background-position: 65% 85%;
    			background-size: 225% 186%;
				.modal__home_body {
		    		top: 40vh;
	    		}
			}
			&_inside-lightbox {
				background-position: 52% 84%;
    			background-size: 233% 229%;
				.modal__home_body {
			    	top: 40vh;
			    }
			}
			&_signboard {
				background-position: 50% 73%;
    			background-size: 350% 234%;
				.modal__home_body {
			    	top: 40vh;
			    }
			}
			&_inside-stand {	
				background-position: 58% 55%;
    			background-size: 200% 425%;
				.modal__home_body {
			    	top: 20vh;
			    	margin-left: 575px;
			    }
			}
			&_x-banner {
				background-position: 121% 55%;
    			background-size: 116% 370%;
				.modal__home_body {
			    	top: 20vh;
			    	margin-left: 575px;
			    }
			}
		}
	}
	.ya_map {
		height: 120vh;
	}
}

@media only screen and (max-width: 1024px) {
	
}

@media only screen and (max-width: 980px) {
	
}

@media only screen and (max-width: 770px) {
	
}

@media only screen and (max-width: 736px) {
	
}

@media only screen and (max-width: 500px) {
	
}

@media only screen and (max-width: 320px) {
	
}