.header {
	float: left;
	width: 100%;
	background-color: #C32730;
	border-bottom: 10px solid #860008;
	color: #FFF;
	padding: 2px 0;
	&__logo {
		display: inline-block;
		vertical-align: middle;
		a {
			margin: 0;
			padding: 0;
			img {
				margin: 0;
				padding: 0;
			}
		}		
	}
	ul.header__menu {
		display: inline-block;
		width: 630px;
		padding-left: 0;
		vertical-align: middle;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 34px;
			a {
				color: #FFF;
				font-size: 16px;
				font-weight: normal;
				@include text-shadow(3px 4px 2px rgba(169,31,39,.75));
				&:hover, &:active, &:focus {
					text-decoration: underline;
				}
			}
		}
	}
	&__contacts {
		display: inline-block;
		vertical-align: middle;
		float: right;
		margin: 20px 0 0;
		h3 {
			font-size: 26px;
			padding-left: 30px;
			background-image: url('../img/phone.png');
			background-repeat: no-repeat;
			background-position: 0 100%;
			margin: 0;
			font-weight: 500;
			line-height: 28px;
			sup {
				font-size: 26px;
			}
		}
		h4 {
			font-weight: normal;
			margin: 0;
			text-align: center;
		}
		&_city {
			font-size: 32px;
			small {
				font-size: 22px;
			}
		} 
		
	}
}