.modal {
	&__home {
		position: absolute;		
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('../img/dark-bg.png');
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-repeat: no-repeat;
		&_lightbox {
			display: none;
		    background-size: 200%;
		    background-repeat: no-repeat;
		    background-position: 53% 52%;
		    .modal__home_body {
		    	top: 52vh;
		    	margin-left: 275px;
		    }
		}
		&_tablo {
			@extend .modal__home_lightbox;
		}
		&_buy {
			float: left;
			margin-right: 25px;
			padding: 7px 45px;
			font-family: $scada;
			font-size: 17px;
			color: #FFF;
			text-transform: uppercase;
			background-color: #c3272f;
			@include transition(.3s);
			&:hover, &:focus {
				background-color: darken(#C3272F, 10%);
			}
		}
		&_more {
			float: left;
			font-family: $scada;
			font-size: 15px;
			color: #FFF;
			text-decoration: underline;
			margin: 7px 0;
		}
		&_body {
			display: block;
			position: absolute;
			width: 380px;
			color: #FFF;
			font-family: $scada;
			h3 {
				font-size: 18px;
				text-decoration: underline;
			}
			p {
				font-size: 16px;
			}
		}
		&_close {
			position: absolute;
			top: 0;
			right: -30px;
			width: 30px;
			height: 30px;
			background-image: url('../img/error-transparent.png');
			background-repeat: no-repeat;
			
		}
	}
}