.modal {
	&__home {
		position: fixed;		
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('../img/dark-bg.png');
		-webkit-background-size: cover;
		     -o-background-size: cover;
		        background-size: cover;
		background-repeat: repeat;
		&_lightbox {
			display: none;
		    background-repeat: repeat;
	        background-position: 79% -265%;
			-webkit-background-size: 175%;
			     -o-background-size: 175%;
			        background-size: 175%;
	        background-attachment: fixed;
		    .modal__home_body {
		    	top: 52vh;
		    	margin-left: 275px;
		    }
		}

		&_tablo, &_banner, &_letters, &_stella, &_sign, &_flag, &_stander, &_transport, &_plate, &_x-banner, &_inside-stand, &_signboard, &_inside-lightbox {
			@extend .modal__home_lightbox;
		}

		&_tablo {
			background-position: 53% 48%;
			-webkit-background-size: 200%;
			     -o-background-size: 200%;
			        background-size: 200%; 
			  
		}

		&_letters {
	      	background-position: 55% 86%;
	        -webkit-background-size: 350% 200%;
	             -o-background-size: 350% 200%;
	                background-size: 350% 200%;
		}
		&_banner {
			background-position: 34% 62%;
	        -webkit-background-size: 200% 200%;
	             -o-background-size: 200% 200%;
	                background-size: 200% 200%;
		}
		&_stella {
			background-position: -44% 51%;
			-webkit-background-size: 80% 450%;
			     -o-background-size: 80% 450%;
			        background-size: 80% 450%;
			.modal__home_body {
		    	top: 30vh;
		    	margin-left: 575px;
		    }
		}
		&_sign {
			background-position: 131% 405%;
    		background-size: 120%;
			.modal__home_body {
		    	top: 24vh;
		    	margin-left: 575px;
		    }
		}
		&_flag {
			background-position: 66% -319%;
			.modal__home_body {
		    	top: 24vh;
		    	margin-left: 575px;
		    }
		}
		&_stander {			
			background-position: 74% -2%;
    		background-size: 150% 160%;
			.modal__home_body {
		    	top: 24vh;
		    	margin-left: 575px;
		    }
		}

		&_transport {			
			background-position: 49% 25%;
    		background-size: 280%;
			.modal__home_body {
		    	top: 20vh;
		    }
		}

		&_plate {
			background-position: 63% 68%;
    		background-size: 280%;
		}

		&_inside-lightbox {
			background-position: 52% 79%;
    		background-size: 280% 220%;
		}

		&_signboard {
			background-position: 50% 67%;
    		background-size: 415% 200%;
		}

		&_inside-stand {		
			background-position: 57% 51%;
    		background-size: 240% 450%;    		
    		.modal__home_body {
		    	top: 24vh;
		    	margin-left: 575px;
		    }
		}

		&_x-banner {
			background-position: 81% 50%;
    		background-size: 142% 370%;
    		.modal__home_body {
		    	top: 24vh;
		    	margin-left: 575px;
		    }
		}

		&_buy {
			float: left;
			margin-right: 25px;
			padding: 7px 45px;
			font-family: $scada;
			font-size: 17px;
			color: #FFF;
			text-transform: uppercase;
			background-color: #c3272f;
			@include transition(.3s);
			&:hover, &:focus {
				background-color: darken(#C3272F, 10%);
			}
		}
		&_more {
			float: left;
			font-family: $scada;
			font-size: 15px;
			color: #FFF;
			text-decoration: underline;
			margin: 7px 0;
		}
		&_body {
			display: block;
			position: absolute;
			width: 380px;
			color: #FFF;
			font-family: $scada;
			h3 {
				font-size: 18px;
				text-decoration: underline;
			}
			p {
				font-size: 16px;
			}
		}
		&_close {
			position: absolute;
			top: 0;
			right: -30px;
			width: 30px;
			height: 30px;
			background-image: url('../img/error-transparent.png');
			background-repeat: no-repeat;
			
		}
	}
}

.modal__callme {
	display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    background-color: rgba(0, 0, 0, .5);
	&_body {
		width: 400px;
		height: auto;
		padding: 50px;
		background-color: rgba(255,255,255,.9);
		border: 5px solid #fb0000;
		position: absolute;
		text-align: center;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		   -moz-transform: translate(-50%, -50%);
		    -ms-transform: translate(-50%, -50%);
		     -o-transform: translate(-50%, -50%);
		        transform: translate(-50%, -50%);
	}
	&_input {
		@extend .stock__form_input;
		width: 60%;
	}
	&_btn {
		width: 35%;
		float: right;
		font-size: 12px;
		position: relative;
		border: 1px solid #fb0000;		
		color: #362A2A;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: bold;
		padding: 10px;
		background-color: #FFF;
		border: none;
		outline: none;
		cursor: pointer;
		@include transition(.3s);
		span {
			position: absolute;
			bottom: -5px;
			left: 0;
			right: 0;
			border-top: 5px solid #b00000;
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			@include transition(.3s);
		}
		&:hover, &:focus {
			color: #FFF;
			background-color: #B00000;
			span {
				border-top-color:#fb0000;
			}
		}
	}
	small {
		float: left;
		width: 100%;
	}
	&_close {
		@extend .modal__home_close;
		right: 3px;
		top: 3px;
	}
}