@import url(https://fonts.googleapis.com/css?family=Scada:400,700&subset=latin,cyrillic);
body, html {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: Tahoma, Geneva, sans-serif;
  min-width: 1040px;
  background-color: #C32730; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    outline: none; }

ul {
  list-style-type: none; }

.block_title {
  color: #fff;
  font-size: 3.5em;
  text-align: center;
  margin-top: 15px; }

.p0 {
  padding: 0; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.container {
  width: 1040px;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }

.show-info {
  position: absolute;
  padding: 10px 0 10px 40px;
  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 50%;
  font-family: "Scada", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #FFF;
  /* Inside */
  /* Inside */ }
  .show-info_lightbox {
    top: 18vh;
    left: 150px; }
  .show-info_letters {
    top: 1vh;
    left: 470px; }
  .show-info_banner {
    top: 25vh;
    left: 77%; }
  .show-info_stella {
    top: 39vh;
    left: 10%; }
  .show-info_sign {
    top: 47vh;
    left: 18%; }
  .show-info_flag {
    left: 37%;
    top: 52vh; }
  .show-info_stander {
    left: 32%;
    top: 70vh; }
  .show-info_tablo {
    left: 53%;
    top: 38vh; }
  .show-info_transport {
    top: 68vh;
    left: 70%; }
  .show-info_plate {
    left: 21%;
    top: 18vh; }
  .show-info_x-banner {
    left: 22%;
    top: 42vh; }
  .show-info_inside-stand {
    left: 45%;
    top: 45vh; }
  .show-info_signboard {
    left: 60%;
    top: 32vh; }
  .show-info_inside-lightbox {
    left: 50%;
    top: 14vh; }

.day_group {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  height: 37px;
  -webkit-box-shadow: inset 0px -5px 15px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px -5px 15px 3px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  .day_group .day-switch {
    float: left;
    width: 43px;
    height: 37px;
    background-position: 50% 50%;
    background-repeat: no-repeat; }
    .day_group .day-switch_night {
      background-image: url("../img/Layer-2.png"); }
      .day_group .day-switch_night_active {
        background-image: url("../img/Layer-2-active.png"), -owg-linear-gradient(bottom, #000 0%, #45484d 100%);
        background-image: url("../img/Layer-2-active.png"), -webkit-linear-gradient(bottom, #000 0%, #45484d 100%);
        background-image: url("../img/Layer-2-active.png"), -moz-linear-gradient(bottom, #000 0%, #45484d 100%);
        background-image: url("../img/Layer-2-active.png"), -o-linear-gradient(bottom, #000 0%, #45484d 100%);
        background-image: url("../img/Layer-2-active.png"), linear-gradient(bottom, #000 0%, #45484d 100%);
        -webkit-border-radius: 10px 0 0 10px;
        -moz-border-radius: 10px 0 0 10px;
        -ms-border-radius: 10px 0 0 10px;
        border-radius: 10px 0 0 10px; }
    .day_group .day-switch_day {
      background-image: url("../img/Layer-3-active.png");
      height: 35px; }
      .day_group .day-switch_day_active {
        border: 1px solid #000;
        background-image: url("../img/Layer-3.png"), -owg-linear-gradient(bottom, #000 0%, #45484d 100%);
        background-image: url("../img/Layer-3.png"), -webkit-linear-gradient(bottom, #000 0%, #45484d 100%);
        background-image: url("../img/Layer-3.png"), -moz-linear-gradient(bottom, #000 0%, #45484d 100%);
        background-image: url("../img/Layer-3.png"), -o-linear-gradient(bottom, #000 0%, #45484d 100%);
        background-image: url("../img/Layer-3.png"), linear-gradient(bottom, #000 0%, #45484d 100%);
        -webkit-border-radius: 0 10px 10px 0;
        -moz-border-radius: 0 10px 10px 0;
        -ms-border-radius: 0 10px 10px 0;
        border-radius: 0 10px 10px 0; }

.owl_modal__item {
  display: block;
  width: 107px;
  height: 74px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  overflow: hidden; }
  .owl_modal__item img {
    min-width: 100%;
    height: auto;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .owl_modal__item img {
    max-width: 150%; }

.modal__home_body .owl-carousel .owl-wrapper-outer {
  margin: 0 -10px; }
.modal__home_body .owl-theme .owl-controls {
  margin-top: 0; }
.modal__home_body .owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 29px;
  height: 28px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: transparent !important;
  margin: 0 !important;
  padding: 0 !important; }
.modal__home_body .owl-prev {
  background: url("../img/left.png") no-repeat 50% 50% !important;
  left: -40px; }
.modal__home_body .owl-next {
  right: -45px;
  background: url("../img/right.png") no-repeat 50% 50% !important; }

.color_red {
  color: #e6101d; }

.flip-clock-wrapper ul {
  margin: 5px 0;
  width: 40px;
  height: 80px;
  background-color: #1B1F26;
  position: relative; }
  .flip-clock-wrapper ul:nth-of-type(odd) {
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    -ms-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
    border-style: solid;
    border-color: #22262d;
    border-width: 1px 0 1px 1px; }
    .flip-clock-wrapper ul:nth-of-type(odd) li a div.down {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 6px; }
    .flip-clock-wrapper ul:nth-of-type(odd):after {
      content: "";
      width: 2px;
      height: 8px;
      background-color: #70767E;
      position: absolute;
      left: 2px;
      top: 50%;
      z-index: 999;
      -webkit-box-shadow: 2px 0px 14px 0px #3a3d42;
      -moz-box-shadow: 2px 0px 14px 0px #3a3d42;
      box-shadow: 2px 0px 14px 0px #3a3d42;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  .flip-clock-wrapper ul:nth-of-type(even) {
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    border-style: solid;
    border-color: #22262d;
    border-width: 1px 1px 1px 0; }
    .flip-clock-wrapper ul:nth-of-type(even) li a div.down {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 0px; }
    .flip-clock-wrapper ul:nth-of-type(even):after {
      content: "";
      width: 2px;
      height: 8px;
      background-color: #70767E;
      position: absolute;
      right: 2px;
      top: 50%;
      z-index: 999;
      -webkit-box-shadow: -2px 0px 14px 0px #3a3d42;
      -moz-box-shadow: -2px 0px 14px 0px #3a3d42;
      box-shadow: -2px 0px 14px 0px #3a3d42;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
  .flip-clock-wrapper ul li {
    line-height: 80px; }

.flip-clock-wrapper ul li a div.up:after {
  content: none; }

.flip-clock-wrapper ul li a div div.inn {
  text-shadow: 0 1px 2px #000;
  background-color: #1b1f26;
  font-size: 50px;
  color: #FFF; }

.flip-clock-divider {
  height: 130px;
  width: 10px; }

.flip-clock-dot.bottom {
  bottom: 80px;
  display: none; }

.flip-clock-dot.top {
  top: 50px;
  display: none; }

.flip-clock-divider .flip-clock-label {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold; }

.flip-clock-divider.days .flip-clock-label {
  margin-right: 3px; }

.flip-clock-divider.minutes .flip-clock-label {
  right: -70px; }

.flip-clock-divider.seconds .flip-clock-label {
  right: -80px; }

.flip-clock-wrapper .flip {
  box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.7); }

.flip-clock-wrapper {
  display: inline-block;
  width: auto; }

/* Call me button */
#callme {
  position: fixed;
  right: 100px;
  bottom: 100px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  opacity: 0.8;
  z-index: 99990; }

#callme #callmeMain {
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: blue;
  width: 70px;
  height: 70px;
  -webkit-animation: zcwmini2 1.5s 0s ease-out infinite;
  -moz-animation: zcwmini2 1.5s 0s ease-out infinite;
  animation: zcwmini2 1.5s 0s ease-out infinite; }

#callme #callmeMain:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(https://ss.zadarma.com/callbackWidget/images/mini.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-animation: zcwphone2 1.5s linear infinite;
  -moz-animation: zcwphone2 1.5s linear infinite;
  animation: zcwphone2 1.5s linear infinite; }

@-webkit-keyframes zcwphone {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-moz-keyframes zcwphone {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes zcwphone {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-webkit-keyframes zcwphone2 {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-moz-keyframes zcwphone2 {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@keyframes zcwphone2 {
  0% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  25% {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  50% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  75% {
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg); }
  100% {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); } }
@-webkit-keyframes zcwmini {
  0% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 0 rgba(0, 0, 255, 0), 0 0 0 0 rgba(0, 0, 255, 0); }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px transparent, 0 0 12px 14px; }
  100% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 40px transparent, 0 0 0 40px rgba(0, 0, 255, 0); } }
@-moz-keyframes zcwmini {
  0% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 0 transparent, 0 0 0 0 rgba(0, 0, 255, 0); }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px transparent, 0 0 12px 14px; }
  100% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 40px transparent, 0 0 0 40px rgba(0, 0, 255, 0); } }
@keyframes zcwmini {
  0% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 0 transparent, 0 0 0 0 rgba(0, 0, 255, 0); }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px transparent, 0 0 12px 14px; }
  100% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 40px transparent, 0 0 0 40px rgba(0, 0, 255, 0); } }
@-webkit-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 0 transparent, 0 0 0 0 rgba(0, 0, 255, 0); }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px transparent, 0 0 12px 14px; }
  100% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 40px transparent, 0 0 0 40px rgba(0, 0, 255, 0); } }
@-moz-keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 0 transparent, 0 0 0 0 rgba(0, 0, 255, 0); }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px transparent, 0 0 12px 14px; }
  100% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 40px transparent, 0 0 0 40px rgba(0, 0, 255, 0); } }
@keyframes zcwmini2 {
  0% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 0 transparent, 0 0 0 0 rgba(0, 0, 255, 0); }
  10% {
    box-shadow: 0 0 8px 6px, 0 0 12px 10px transparent, 0 0 12px 14px; }
  100% {
    box-shadow: 0 0 8px 6px rgba(0, 0, 255, 0), 0 0 0 40px transparent, 0 0 0 40px rgba(0, 0, 255, 0); } }
.header {
  float: left;
  width: 100%;
  background-color: #C32730;
  border-bottom: 10px solid #860008;
  color: #FFF;
  padding: 2px 0; }
  .header__logo {
    display: inline-block;
    vertical-align: middle; }
    .header__logo a {
      margin: 0;
      padding: 0; }
      .header__logo a img {
        margin: 0;
        padding: 0; }
  .header ul.header__menu {
    display: inline-block;
    padding-left: 0;
    vertical-align: middle; }
    .header ul.header__menu li {
      display: inline-block;
      margin: 0 34px; }
      .header ul.header__menu li a {
        color: #FFF;
        font-size: 16px;
        font-weight: normal;
        text-shadow: 3px 4px 2px rgba(169, 31, 39, 0.75); }
        .header ul.header__menu li a:hover, .header ul.header__menu li a:active, .header ul.header__menu li a:focus {
          text-decoration: underline; }
  .header__contacts {
    display: inline-block;
    vertical-align: middle;
    float: right;
    margin: 20px 0; }
    .header__contacts h3 {
      font-size: 26px;
      padding-left: 30px;
      background-image: url("../img/phone.png");
      background-repeat: no-repeat;
      background-position: 0 100%;
      margin: 0;
      font-weight: 500;
      line-height: 28px; }
      .header__contacts h3 sup {
        font-size: 26px; }
    .header__contacts_city {
      font-size: 32px; }
      .header__contacts_city small {
        font-size: 22px; }

.site-content {
  float: left;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 110%;
  -o-background-size: 110%;
  background-size: 110%;
  background-position: 50% 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 15px; }

.bg_day {
  background-image: url("../img/trade-center-day.jpg"); }

.bg_night {
  background-image: url("../img/trade-center-night.jpg"); }

.bg_inside {
  background-image: url("../img/trade-center-inside.jpg"); }

.workspace {
  float: left;
  position: relative;
  width: calc(100% - 215px);
  height: 85vh; }
  .workspace a.go-btn {
    position: absolute;
    top: 0;
    left: 15px;
    padding: 12px 20px;
    width: 205px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    font-weight: 600;
    border: 1px solid #779fab;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #000;
    -webkit-box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.4);
    -moz-box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.4);
    background-image: -owg-linear-gradient(bottom, #abd7e3 0%, #f5f9fb 100%);
    background-image: -webkit-linear-gradient(bottom, #abd7e3 0%, #f5f9fb 100%);
    background-image: -moz-linear-gradient(bottom, #abd7e3 0%, #f5f9fb 100%);
    background-image: -o-linear-gradient(bottom, #abd7e3 0%, #f5f9fb 100%);
    background-image: linear-gradient(bottom, #abd7e3 0%, #f5f9fb 100%); }

.js_inside {
  display: none; }

.trust {
  float: left;
  position: relative;
  width: 100%;
  background-color: #FFF; }
  .trust h2 {
    text-align: center;
    font-weight: normal;
    margin-top: 40px; }
  .trust__carousel {
    width: 90%;
    margin: 0 auto;
    position: relative; }
    .trust__carousel_item_img {
      float: left;
      width: 100%;
      height: 200px;
      vertical-align: middle;
      position: relative; }
      .trust__carousel_item_img img {
        max-width: 90%;
        vertical-align: middle;
        position: relative;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .trust__carousel_item h4 {
      text-align: center;
      font-family: "Scada", sans-serif;
      font-weight: normal;
      text-decoration: none; }
    .trust__carousel .owl-prev, .trust__carousel .owl-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 29px;
      height: 28px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-color: transparent !important;
      margin: 0 !important;
      padding: 0 !important; }
    .trust__carousel .owl-prev {
      position: absolute;
      left: -5%;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/left-b.png") no-repeat 50% 50% !important; }
    .trust__carousel .owl-next {
      position: absolute;
      right: -5%;
      top: 50%;
      transform: translateY(-50%);
      background: url("../img/right-b.png") no-repeat 50% 50% !important; }

.stock {
  float: left;
  width: 100%;
  padding: 80px 0;
  background-image: url("../img/bg-(1).png");
  background-repeat: no-repeat;
  background-color: #FFF;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  background-position: 50% 0%; }
  .stock__baner {
    float: left;
    position: relative;
    width: 50%;
    margin-left: 25%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 100px 25px 50px;
    text-align: center; }
    .stock__baner h3 {
      text-transform: uppercase;
      font-size: 21px; }
    .stock__baner img {
      display: block;
      margin: 0 auto 15px;
      width: 75%; }
  .stock__form {
    float: left;
    position: relative;
    width: 25%;
    background-color: #C32730;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 25px;
    margin-top: 55px;
    color: #FFF;
    text-align: center; }
    .stock__form h4 {
      margin: 0;
      font-size: 18px;
      text-transform: uppercase; }
    .stock__form p {
      font-size: 13px;
      text-transform: uppercase; }
    .stock__form_input, .modal__callme_input, .stock__form_text, .stock__form_submit, .modal__callme_btn, .stock__form_file {
      width: 100%; }
    .stock__form_input, .modal__callme_input, .stock__form_text {
      float: left;
      border: 1px solid #dedecf;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      border-radius: 7px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 10px 15px;
      margin-bottom: 10px;
      -o-background-clip: padding-box;
      background-clip: padding-box;
      background-color: #fff;
      -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.91), inset 1px 2px 5px rgba(0, 0, 0, 0.07);
      -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.91), inset 1px 2px 5px rgba(0, 0, 0, 0.07);
      box-shadow: 0 1px 0 rgba(255, 255, 255, 0.91), inset 1px 2px 5px rgba(0, 0, 0, 0.07);
      outline: none; }
    .stock__form_text {
      resize: none;
      margin-bottom: 10px; }
    .stock__form_file {
      margin-bottom: 10px; }
    .stock__form input[type="file"] {
      height: 36px;
      width: 100%;
      opacity: 0;
      z-index: 0;
      cursor: pointer; }
    .stock__form label {
      float: left;
      width: 100%;
      margin-top: -46px;
      cursor: pointer; }
      .stock__form label span {
        width: 100%;
        float: left;
        color: #C32730;
        text-align: center;
        font-size: 12px;
        border: 1px solid #dedecf;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        border-radius: 7px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 15px;
        margin-bottom: 10px;
        -o-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.91), inset 1px 2px 5px rgba(0, 0, 0, 0.07);
        -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.91), inset 1px 2px 5px rgba(0, 0, 0, 0.07);
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.91), inset 1px 2px 5px rgba(0, 0, 0, 0.07);
        outline: none;
        cursor: pointer;
        z-index: 9;
        position: relative; }
    .stock__form_submit, .modal__callme_btn {
      position: relative;
      color: #362A2A;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: bold;
      padding: 10px;
      background-color: #FFF;
      border: none;
      outline: none;
      cursor: pointer;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
      .stock__form_submit span, .modal__callme_btn span {
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        border-top: 5px solid #b00000;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s linear;
        -ms-transition: all 0.3s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear; }
      .stock__form_submit:hover, .modal__callme_btn:hover, .stock__form_submit:focus, .modal__callme_btn:focus {
        color: #FFF;
        background-color: #B00000; }
        .stock__form_submit:hover span, .modal__callme_btn:hover span, .stock__form_submit:focus span, .modal__callme_btn:focus span {
          border-top: 5px solid #fff; }

.clockContainer h2 {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase; }

.sidebar-left {
  float: left;
  width: 215px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 0;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden; }
  .sidebar-left .accordion {
    width: 100%; }
    .sidebar-left .accordion h3 {
      float: left;
      clear: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      margin: 0;
      padding: 5px;
      border-bottom: 1px solid gray;
      text-transform: uppercase;
      font-size: 12px;
      color: #000; }
      .sidebar-left .accordion h3 a.accordion_title {
        float: left;
        font-weight: bold;
        padding: 10px;
        text-transform: uppercase;
        font-size: 12px;
        color: #000; }
      .sidebar-left .accordion h3:hover, .sidebar-left .accordion h3:focus, .sidebar-left .accordion h3:active {
        background-color: #FFF; }
    .sidebar-left .accordion h3.active-title {
      border: none; }
      .sidebar-left .accordion h3.active-title a.accordion_title {
        color: #FFF;
        border: 1px solid #bb0500;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        border-radius: 10px;
        -o-background-clip: padding-box;
        background-clip: padding-box;
        background-color: #000;
        -webkit-box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.4);
        -moz-box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.4);
        box-shadow: inset 0 0 7px rgba(255, 255, 255, 0.4);
        background-image: -owg-linear-gradient(bottom, #cd0000 0%, #ff1a00 100%);
        background-image: -webkit-linear-gradient(bottom, #cd0000 0%, #ff1a00 100%);
        background-image: -moz-linear-gradient(bottom, #cd0000 0%, #ff1a00 100%);
        background-image: -o-linear-gradient(bottom, #cd0000 0%, #ff1a00 100%);
        background-image: linear-gradient(bottom, #cd0000 0%, #ff1a00 100%); }
    .sidebar-left .accordion ul {
      float: left;
      clear: left;
      width: 100%;
      padding: 0 15px 5px;
      margin: 0;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom: 0;
      border-bottom: 1px solid gray; }
      .sidebar-left .accordion ul li a {
        display: block;
        font-size: 12px;
        color: #000;
        padding: 5px 0; }
        .sidebar-left .accordion ul li a:hover, .sidebar-left .accordion ul li a:active, .sidebar-left .accordion ul li a:focus {
          color: #BB0500;
          text-decoration: underline; }
  .sidebar-left_go-btn {
    margin-left: 10px;
    margin-top: 10px;
    display: none;
    width: 17px;
    height: 14px;
    background-image: url("../img/Shape-1.png");
    background-repeat: no-repeat; }
  .sidebar-left .active-title .sidebar-left_go-btn {
    display: inline-block; }

.modal__home {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/dark-bg.png");
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat; }
  .modal__home_lightbox, .modal__home_tablo, .modal__home_banner, .modal__home_letters, .modal__home_stella, .modal__home_sign, .modal__home_flag, .modal__home_stander, .modal__home_transport, .modal__home_plate, .modal__home_x-banner, .modal__home_inside-stand, .modal__home_signboard, .modal__home_inside-lightbox {
    display: none;
    background-repeat: repeat;
    background-position: 79% -265%;
    -webkit-background-size: 175%;
    -o-background-size: 175%;
    background-size: 175%;
    background-attachment: fixed; }
    .modal__home_lightbox .modal__home_body, .modal__home_tablo .modal__home_body, .modal__home_banner .modal__home_body, .modal__home_letters .modal__home_body, .modal__home_stella .modal__home_body, .modal__home_sign .modal__home_body, .modal__home_flag .modal__home_body, .modal__home_stander .modal__home_body, .modal__home_transport .modal__home_body, .modal__home_plate .modal__home_body, .modal__home_x-banner .modal__home_body, .modal__home_inside-stand .modal__home_body, .modal__home_signboard .modal__home_body, .modal__home_inside-lightbox .modal__home_body {
      top: 52vh;
      margin-left: 275px; }
  .modal__home_tablo {
    background-position: 53% 48%;
    -webkit-background-size: 200%;
    -o-background-size: 200%;
    background-size: 200%; }
  .modal__home_letters {
    background-position: 55% 86%;
    -webkit-background-size: 350% 200%;
    -o-background-size: 350% 200%;
    background-size: 350% 200%; }
  .modal__home_banner {
    background-position: 34% 62%;
    -webkit-background-size: 200% 200%;
    -o-background-size: 200% 200%;
    background-size: 200% 200%; }
  .modal__home_stella {
    background-position: -44% 51%;
    -webkit-background-size: 80% 450%;
    -o-background-size: 80% 450%;
    background-size: 80% 450%; }
    .modal__home_stella .modal__home_body {
      top: 30vh;
      margin-left: 575px; }
  .modal__home_sign {
    background-position: 131% 405%;
    background-size: 120%; }
    .modal__home_sign .modal__home_body {
      top: 24vh;
      margin-left: 575px; }
  .modal__home_flag {
    background-position: 66% -319%; }
    .modal__home_flag .modal__home_body {
      top: 24vh;
      margin-left: 575px; }
  .modal__home_stander {
    background-position: 74% -2%;
    background-size: 150% 160%; }
    .modal__home_stander .modal__home_body {
      top: 24vh;
      margin-left: 575px; }
  .modal__home_transport {
    background-position: 49% 25%;
    background-size: 280%; }
    .modal__home_transport .modal__home_body {
      top: 20vh; }
  .modal__home_plate {
    background-position: 63% 68%;
    background-size: 280%; }
  .modal__home_inside-lightbox {
    background-position: 52% 79%;
    background-size: 280% 220%; }
  .modal__home_signboard {
    background-position: 50% 67%;
    background-size: 415% 200%; }
  .modal__home_inside-stand {
    background-position: 57% 51%;
    background-size: 240% 450%; }
    .modal__home_inside-stand .modal__home_body {
      top: 24vh;
      margin-left: 575px; }
  .modal__home_x-banner {
    background-position: 81% 50%;
    background-size: 142% 370%; }
    .modal__home_x-banner .modal__home_body {
      top: 24vh;
      margin-left: 575px; }
  .modal__home_buy {
    float: left;
    margin-right: 25px;
    padding: 7px 45px;
    font-family: "Scada", sans-serif;
    font-size: 17px;
    color: #FFF;
    text-transform: uppercase;
    background-color: #c3272f;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear; }
    .modal__home_buy:hover, .modal__home_buy:focus {
      background-color: #991f25; }
  .modal__home_more {
    float: left;
    font-family: "Scada", sans-serif;
    font-size: 15px;
    color: #FFF;
    text-decoration: underline;
    margin: 7px 0; }
  .modal__home_body {
    display: block;
    position: absolute;
    width: 380px;
    color: #FFF;
    font-family: "Scada", sans-serif; }
    .modal__home_body h3 {
      font-size: 18px;
      text-decoration: underline; }
    .modal__home_body p {
      font-size: 16px; }
  .modal__home_close, .modal__callme_close {
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    height: 30px;
    background-image: url("../img/error-transparent.png");
    background-repeat: no-repeat; }

.modal__callme {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal__callme_body {
    width: 400px;
    height: auto;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid #fb0000;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .modal__callme_input {
    width: 60%; }
  .modal__callme_btn {
    width: 35%;
    float: right;
    font-size: 12px;
    border: 1px solid #fb0000; }
    .modal__callme_btn:hover span, .modal__callme_btn:focus span {
      border-top-color: #fb0000; }
  .modal__callme small {
    float: left;
    width: 100%; }
  .modal__callme_close {
    right: 3px;
    top: 3px; }

.page {
  background-color: #FFF; }

.page-contacts {
  position: relative;
  z-index: 2;
  height: auto;
  padding-top: 0; }
  .page-contacts__wrap {
    float: left;
    width: 100%;
    position: relative;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 0 50px; }

.ya_map {
  float: left;
  left: 0;
  right: 0;
  height: 150vh;
  position: absolute;
  top: 0;
  z-index: 0; }
  .ya_map #map {
    height: 100%;
    width: 100%; }

.workspace_page {
  padding: 0 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .workspace_page h3 {
    font-family: "Scada", sans-serif;
    margin: 10px 0;
    color: #000; }
  .workspace_page p {
    font-family: "Scada", sans-serif;
    margin: 10px 0;
    color: #000; }
  .workspace_page_input_submit {
    float: left;
    font-size: 14px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 15px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    border-radius: 12px;
    -o-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #ef3f35;
    text-decoration: none;
    margin: 10px 0;
    font-family: "Scada", sans-serif;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    cursor: pointer;
    outline: none;
    border: none; }
    .workspace_page_input_submit:hover {
      background-color: #df1d12;
      text-decoration: none;
      color: #fff; }
  .workspace_page_input {
    float: left;
    position: relative;
    padding: 10px 15px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    border-radius: 11px;
    margin: 10px 0;
    width: 50%;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    font-family: "Scada", sans-serif;
    outline: none;
    border: 1px solid #7F7F7F; }
  .workspace_page_text {
    float: left;
    position: relative;
    padding: 10px 15px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    border-radius: 11px;
    margin: 15px 0;
    width: 100%;
    font-size: 14px;
    color: #000;
    font-family: "Scada", sans-serif;
    outline: none;
    border: 1px solid #7F7F7F;
    height: 150px;
    resize: none; }

.footer {
  float: left;
  width: 100%;
  padding: 50px 0; }
  .footer__nav {
    float: left;
    width: 33.33333%;
    margin-right: 33.33333%; }
    .footer__nav_menu {
      padding: 0;
      width: 100%; }
      .footer__nav_menu li {
        display: inline-block;
        margin-right: 20px; }
        .footer__nav_menu li a {
          color: #FFF;
          font-size: 16px;
          font-weight: normal;
          text-shadow: 3px 4px 2px rgba(169, 31, 39, 0.75); }
  .footer__copyright {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #FFF;
    margin: 10px 0; }
  .footer__contacts {
    float: left;
    width: 33.33333%;
    text-align: right;
    color: #FFF; }
    .footer__contacts h4 {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 0; }

@media (min-width: 1400px) {
  .site-content {
    -webkit-background-size: contain;
    -o-background-size: contain;
    background-size: contain; }

  .workspace {
    height: 730px; }

  .show-info {
    /* Inside */
    /* Inside */ }
    .show-info_stander {
      left: 32%;
      top: 58vh; }
    .show-info_sign {
      top: 40vh;
      left: 18%; }
    .show-info_stella {
      top: 32vh;
      left: 8%; }
    .show-info_banner {
      top: 25vh;
      left: 87%; }
    .show-info_tablo {
      left: 55%;
      top: 31vh; }
    .show-info_transport {
      top: 58vh;
      left: 70%; }
    .show-info_plate {
      left: 16%;
      top: 15vh; }
    .show-info_x-banner {
      left: 20%;
      top: 35vh; }
    .show-info_inside-stand {
      left: 52%; }
    .show-info_signboard {
      left: 65%;
      top: 26vh; }
    .show-info_inside-lightbox {
      top: 12vh; }

  .modal__home_lightbox, .modal__home_tablo, .modal__home_banner, .modal__home_letters, .modal__home_stella, .modal__home_sign, .modal__home_flag, .modal__home_stander, .modal__home_transport, .modal__home_plate, .modal__home_x-banner, .modal__home_inside-stand, .modal__home_signboard, .modal__home_inside-lightbox {
    background-position: 76% 123%; }
    .modal__home_lightbox .modal__home_body, .modal__home_tablo .modal__home_body, .modal__home_banner .modal__home_body, .modal__home_letters .modal__home_body, .modal__home_stella .modal__home_body, .modal__home_sign .modal__home_body, .modal__home_flag .modal__home_body, .modal__home_stander .modal__home_body, .modal__home_transport .modal__home_body, .modal__home_plate .modal__home_body, .modal__home_x-banner .modal__home_body, .modal__home_inside-stand .modal__home_body, .modal__home_signboard .modal__home_body, .modal__home_inside-lightbox .modal__home_body {
      top: 40vh; }
  .modal__home_tablo {
    background-position: 54% 75%; }
    .modal__home_tablo .modal__home_body {
      top: 40vh; }
  .modal__home_letters {
    -webkit-background-size: 350% 180%;
    -o-background-size: 350% 180%;
    background-size: 350% 180%;
    background-position: 55% 105%; }
  .modal__home_banner {
    -webkit-background-size: 200% 190%;
    -o-background-size: 200% 215%;
    background-size: 200% 215%;
    background-position: 38%  75%; }
  .modal__home_stella {
    background-position: -36% 55%;
    -webkit-background-size: 80% 450%;
    -o-background-size: 80% 450%;
    background-size: 80% 450%; }
    .modal__home_stella .modal__home_body {
      top: 30vh;
      margin-left: 575px; }
  .modal__home_sign {
    background-position: 124% 62%;
    background-size: 120% 147%; }
    .modal__home_sign .modal__home_body {
      top: 30vh;
      margin-left: 575px; }
  .modal__home_flag {
    background-position: 66% 55%; }
    .modal__home_flag .modal__home_body {
      top: 20vh;
      margin-left: 575px; }
  .modal__home_stander {
    background-position: 73% 29%; }
    .modal__home_stander .modal__home_body {
      top: 20vh;
      margin-left: 575px; }
  .modal__home_transport {
    background-position: 48% 32%;
    background-size: 225% 186%; }
    .modal__home_transport .modal__home_body {
      top: 20vh; }
  .modal__home_plate {
    background-position: 65% 85%;
    background-size: 225% 186%; }
    .modal__home_plate .modal__home_body {
      top: 40vh; }
  .modal__home_inside-lightbox {
    background-position: 52% 84%;
    background-size: 233% 229%; }
    .modal__home_inside-lightbox .modal__home_body {
      top: 40vh; }
  .modal__home_signboard {
    background-position: 50% 73%;
    background-size: 350% 234%; }
    .modal__home_signboard .modal__home_body {
      top: 40vh; }
  .modal__home_inside-stand {
    background-position: 58% 55%;
    background-size: 200% 425%; }
    .modal__home_inside-stand .modal__home_body {
      top: 20vh;
      margin-left: 575px; }
  .modal__home_x-banner {
    background-position: 121% 55%;
    background-size: 116% 370%; }
    .modal__home_x-banner .modal__home_body {
      top: 20vh;
      margin-left: 575px; }

  .ya_map {
    height: 120vh; } }

/*# sourceMappingURL=style.css.map */
